@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* light gray background */
    --foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --muted: 210 40% 96.1%; /* slate-100 */
    --muted-foreground: 215.4 16.3% 46.9%; /* slate-500 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --border: 214.3 31.8% 91.4%; /* slate-200 */
    --input: 214.3 31.8% 91.4%; /* slate-200 */

    --primary: 14 100% 57%; /* orange-500 #FF5722 */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 210 40% 96.1%; /* slate-100 */
    --secondary-foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --accent: 14 100% 57%; /* orange-500 */
    --accent-foreground: 0 0% 100%; /* white */

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 14 100% 57%; /* orange-500 */

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 14 100% 57%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 14 100% 97%;
    --sidebar-accent-foreground: 14 100% 57%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 14 100% 57%;

    --chart-1: 14 100% 57%;
    --chart-2: 14 100% 67%;
    --chart-3: 14 100% 77%;
    --chart-4: 14 100% 87%;
    --chart-5: 14 100% 47%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: oklch(0.7 0.2 250);
    --chart-2: oklch(0.6 0.22 250);
    --chart-3: oklch(0.5 0.24 250);
    --chart-4: oklch(0.4 0.22 250);
    --chart-5: oklch(0.3 0.18 250);
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 4.9% 83.9%;
  }
}

.content-container {
  @apply px-2 sm:px-6;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-variant-ligatures: none;
}
